{% load static %}

{% include 'header.html' %}




<div class="stg-container">
    <!-- Section: Page Title -->



    <section class="backlight-bottom" style="padding-top:140px; padding-bottom:60px;">
        <div class="stg-row">
            <div class="stg-col-6 stg-offset-3">
                <div class="align-center">
                    <h1 class="bringer-page-title in-view" data-unload="fade-up">Congratulations</h1>
                    <p>You are successfully complete internship!!</p>
                </div>
            </div>
        </div>
    </section>








<section class="backlight-bottom divider-top">
    <div class="stg-row stg-large-gap stg-valign-middle stg-tp-column-reverse">



        <div class="stg-col-6 in-view" data-unload="fade-left">
            <p>Congratulations! You have successfully completed all three levels and are now eligible to receive your certificate. Great job on your hard work and dedication!</p>
            <a href="#" id="rzp-button1" class="btn btn-success"><button>Download ⬇</button></a>
        </div>





        <div class="stg-col-6 stg-tp-bottom-gap-l stg-m-bottom-gap in-view" data-unload="fade-right">
            <div class="bringer-parallax-media is-init">
                <div class="st-lazy-wrappe">

                    <!-- <img src="{{user.assignment1.assignment_banner.url}}" data-src="{{user.assignment1.assignment_banner.url}}" alt="About Us" width="960" height="960" style="transform-origin: 50% 50%; transform: translateY(8.79297px) scale(1.1);"> -->

                    <div class="" id="">
                        <img src="{% static 'certificate.jpg' %}" data-src="{% static 'certificate.jpg' %}" alt="" class=" img-fluid">    
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .stg-row -->
</section>


</div>










{% include 'footer.html' %}





    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        "key": "rzp_test_3ojVpjfoYhsfvR",
        "amount": 9900,
        "currency": "INR",
        "name": "codeAj",
        "description": "Test Transaction",
        "image": "https://www.codeajay.in/static/codeaj1.png",
        "order_id": "{{id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){


            paymentResponse = {
                razorpay_payment_id : response.razorpay_payment_id,
                razorpay_order_id : response.razorpay_order_id,
                razorpay_signature : response.razorpay_signature
            }

            console.log(paymentResponse)

            //alert(response.razorpay_payment_id);
            //alert(response.razorpay_order_id);
            //alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "Ajay Pandit",
            "email": "codeaj.codeajay.in",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>


