{% extends 'login.html' %}

{% load static %}
{% block content %}


<style>

a{
        color :rgb(0, 0, 0);
        font-weight : 700;
        text-decoration: none;
    }

    a:hover{

        color:rgb(37, 37, 37);
        text-decoration: none;
    }
       
        body{
            background:url('{% static "background.jpg" %}');
            height : 400vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
        }

        .levels{
            padding-top: 50px;
        }

        .card1{
            width: 400px;
            height: 400px;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            
            
        }

        .card1  img {
            scale:  1;
            transition: ease-in-out 0.4s;
        }

        .card1:hover img{
            scale:  1.1;
        }


        .bac{
            background-color: rgba(0, 0, 0, 0.459);
            position: absolute;
            width: 400px;
            height: 400px;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            border-radius: 10px; 
            text-shadow:rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;   
        }

        .locked{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color:rgba(204, 204, 204, 0.909);
            z-index: 999;
            
        }


        .play{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color:white;
            z-index: 999;
            
           
        }

        .numlevel{
            z-index: 9999;
            position: relative;
        }

        .levels h5{
            color:white;
        }

        .navv{

            width: 100%;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.258);

        }
        .navv h5{
            color:white;
        }


.level-card{
    margin: 120px 0px;  
}




.level-text{
    margin: 120px 0px;
 
}

.container1{
    margin : 0px 200px;
}


@media only screen and (max-width: 600px) {
.container1{
    margin : 0px 10px;
}

        .bac{
            background-color: rgba(0, 0, 0, 0.259);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            border-radius: 10px;    
        }

        .card1{
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            
            
        }

        .card1  img {
            scale:  1.1;
            transition: ease-in-out 0.4s;
        }

        .card1:hover img{
            scale:  1.2;
        }

        .level-text{

        }

}

.fa-play {
    color: white; /* Set icon color to white */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Initial shadow color and blur */
    transition: text-shadow 0.3s; /* Add transition for smooth animation */
}






@keyframes shadow-pulse {
    0% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 50px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1) ;
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
}

.fa-play {
    color: white; /* Set icon color to white */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Initial shadow color and blur */
    animation: shadow-pulse 2s infinite; /* Apply animation to the play button */
}

.status-box{
    display: flex;
    padding: 10px 0px;

}

.status-box i{
    font-size: 25px;
    margin-right: 20px;
}


</style>



    <div class="navigation">
        <div class="mainlogo">
            <img class="logo-image" src="https://www.codeajay.in/static/codeaj1.png">
            <div class="bbx">


                {% if user.profile_pic %}
                    <a href="{% url 'profile' %}">
                    <img class="profile-image" src="{{user.profile_pic.url}}"  >
                            </a>
                {% else %}
                    <a href="{% url 'profile' %}">
                        <img class="profile-image" src="https://t4.ftcdn.net/jpg/01/07/43/45/360_F_107434511_iarF2z88c6Ds6AlgtwotHSAktWCdYOn7.jpg"  >
                </a>
                
                {% endif %}

                <!-- <img class="profile-image" src="http://localhost:8000/media/profile_pics/pythoncoding4u_2z7TKz6.jpg"> -->



                <div class="profile-details">
                    <a href="{% url 'profile' %}">
                        <h1 style="color: #545454;">{{user.name}}</h1>
                        <p>{{user.domain}}<br> {{user.phone_no}} </p>
                    </a>
                    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>




    <div class="container1">

        <div class="row">


<!-- Level 1 -->
            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
                   
                        <div class="card1" id="level1">
                            <div class="bac"></div>
                            <img src="{{user.assignment1.assignment_banner.url}}" alt="" class=" img-fluid">
                            <i class="fa-solid fa-play play"></i>                      
                        </div>
                    

                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text">
                    <h1>{{user.assignment1.assignment_question}}</h1>
                    <p>
                        {{user.assignment1.assignment_description}} 
                    </p>

                   <h3>Status</h3>
                    <div class="status-box">

                        <!-- <i class="fa-solid fa-lock"></i> -->
                        <i class="fa-solid fa-unlock"></i>
                        <p>UNLOCKED</p>

                    </div>

                    <a href="{% url 'level1' %}" class="btn btn-success" >Navigate</a>
                   

                </div>
                
            </div>


<!-- Level one end -->


            {% if user.level_student > 1 %}

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text">
                    <h1>{{user.assignment2.assignment_question}}</h1>
                    <p>
                        {{user.assignment2.assignment_description}} 
                    </p>
    
                   <h3>Status</h3>
                    <div class="status-box">
    
                        <!-- <i class="fa-solid fa-lock"></i> -->
                        <i class="fa-solid fa-unlock"></i>
                        <p>UNLOCKED</p>
    
                    </div>
    
                    <a href="{% url 'level2' %}" class="btn btn-success" >Navigate</a>
                   
    
                </div>
                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
              
                    <div class="card1" id="level1">
                        <div class="bac"></div>
                        <img src="{{user.assignment2.assignment_banner.url}}" alt="" class=" img-fluid">
                        <i class="fa-solid fa-play play"></i>                      
                    </div>
        

            
            </div>

            {% else %}

            <!-- Locked  Level 2 -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text" style="margin-bottom: 10px;">
                    
                    <div style="width: 100%; height: 45px; background-color: #4242427a; border-radius: 10px; margin: 20px 0px;">

                    </div>

                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 40%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                        
    
                   <h3>Status</h3>
                    <div class="status-box">
    
                        <i class="fa-solid fa-lock"></i>
                        <!-- <i class="fa-solid fa-unlock"></i> -->
                        <p>LOCKED</p>
    
                    </div>
    
                    <a href="#" class="btn btn-danger" disabled>Navigate</a>
                   
    
                </div>
                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
                
                    <div class="card1" id="level1">
                        <div class="bac"></div>
                        <img src="{{user.assignment2.assignment_banner.url}}" alt="" class=" img-fluid">  
                        <i class="fa-solid fa-lock locked"></i>                   
                    </div>
               

            </div>

            {% endif %}

            





<!-- Level 3 -->
            {% if user.level_student > 2 %}
            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
           
                <div class="card1" id="level1">
                    <div class="bac"></div>
                    <img src="{{user.assignment3.assignment_banner.url}}" alt="" class=" img-fluid">
                    <i class="fa-solid fa-play play"></i>                      
                </div>
            

        
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="level-text">
            <h1>{{user.assignment3.assignment_question}}</h1>
            <p>
                {{user.assignment3.assignment_description}} 
            </p>

           <h3>Status</h3>
            <div class="status-box">

                <!-- <i class="fa-solid fa-lock"></i> -->
                <i class="fa-solid fa-unlock"></i>
                <p>UNLOCKED</p>

            </div>

            <a href="{% url 'level3' %}" class="btn btn-success" >Navigate</a>
           

        </div>
        
            </div>

            {% else %}


             <!-- Locked  Level 3 -->

             <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
                
                <div class="card1" id="level1">
                    <div class="bac"></div>
                    <img src="{{user.assignment3.assignment_banner.url}}" alt="" class=" img-fluid">  
                    <i class="fa-solid fa-lock locked"></i>                   
                </div>
           

            </div>
             <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text" style="margin-bottom: 10px;">
                    
                    <div style="width: 100%; height: 45px; background-color: #4242427a; border-radius: 10px; margin: 20px 0px;">

                    </div>

                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 40%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                        
    
                   <h3>Status</h3>
                    <div class="status-box">
    
                        <i class="fa-solid fa-lock"></i>
                        <!-- <i class="fa-solid fa-unlock"></i> -->
                        <p>LOCKED</p>
    
                    </div>
    
                    <a href="#" class="btn btn-danger" disabled>Navigate</a>
                   
    
                </div>
                
            </div>

            {% endif %}

<!-- LEvel3 End -->

            <!-- Panding Level -->


                    <div class="col-sm-12 col-lg-12 col-md-12">

                        {% if user.level_student == 4 %}
                            <div class="card danger p-3" style="background-color:rgba(255,0,0,0.3); color:white">

                                You are successfully complete the level 3,
                                Now it will take 24 hour to Verify your Solution after that only you can get the Certificate.

                            </div>
                        {% endif %}



                        {% if user.level_student == 5 %}
                            <div class="card danger p-3" style="background-color:rgba(0,255,0,0.3); color:white">

                                Now You are Successfully Verified !! Now you can get your certificate !!

                            </div>
                        {% endif %}

                    </div>



            <!-- Panding Level End -->


            {% if user.level_student == 5 %}

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text">
                    <h1>Certificate</h1>
                    <p>
                        {{user.assignment2.assignment_description}} 
                    </p>
    
                   <h3>Status</h3>
                    <div class="status-box">
    
                        <!-- <i class="fa-solid fa-lock"></i> -->
                        <i class="fa-solid fa-unlock"></i>
                        <p>Get Certificate</p>
    
                    </div>
    
                    <a href="{% url 'certification' %}" class="btn btn-success" >Navigate</a>
                   
    
                </div>
                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
                
                    <div class="card1" id="level1">
                        <div class="bac"></div>
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/certificate-of-achievement-diploma-template-%28-design-a0629a4e70ae62e3854786173842eaaa_screen.jpg?ts=1690948843" alt="" class=" img-fluid">
                        <i class="fa-solid fa-play play"></i>                      
                    </div>
                

            
            </div>

            {% else %}

            <!-- Locked  Certificateion Level -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="level-text" style="margin-bottom: 10px;">
                    
                    <div style="width: 100%; height: 45px; background-color: #4242427a; border-radius: 10px; margin: 20px 0px;">

                    </div>

                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 100%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                    <div style="width: 40%; height: 20px; background-color: #7070707a; border-radius: 10px; margin: 10px 0px;"></div>
                        
    
                   <h3>Status</h3>
                    <div class="status-box">
    
                        <i class="fa-solid fa-lock"></i>
                        <!-- <i class="fa-solid fa-unlock"></i> -->
                        <p>LOCKED</p>
    
                    </div>
    
                    <a href="#" class="btn btn-danger" disabled>Get Certificate</a>
                   
    
                </div>
                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 level-card">
            
                
                    <div class="card1" id="level1">
                        <div class="bac"></div>
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/certificate-of-achievement-diploma-template-%28-design-a0629a4e70ae62e3854786173842eaaa_screen.jpg?ts=1690948843" alt="" class=" img-fluid">  
                        <i class="fa-solid fa-lock locked"></i>                   
                    </div>
               

            </div>

            {% endif %}





            



            






         

        </div>



    </div>









    
<!-- 
    <section class="navv">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-lg-3 col-md-6">
                    <h4 class="pt-4">DASHBOARD</h4>
                </div>

                <div class="col-sm-6 col-lg-3 col-md-6 mt-4">
                    <a href="{% url 'logout' %}"><p style="text-right"><b>LOGOUT</b></p></a>
                </div>
                
                <div class="col-sm-6 col-lg-3 col-md-6 mt-4"></div>
                
                <div class="col-sm-6 col-lg-3 col-md-6 mt-3" style="display:flex; ">
                    
                        {% if user.profile_pic %}
                            <a href="{% url 'profile' %}">
                                <img src="{{user.profile_pic.url}}"  width="50px" height="50px">
                            </a>
                        {% else %}
                            <a href="{% url 'profile' %}">
                                <img src="https://t4.ftcdn.net/jpg/01/07/43/45/360_F_107434511_iarF2z88c6Ds6AlgtwotHSAktWCdYOn7.jpg"  width="50px" height="50px">
                            </a>

                        {% endif %}

                        <a href="{% url 'profile' %}">
                        <p class="p-2 mt-1" style="font-weight:500">
                            {{user.name}}
                        </p>

                    </a>
                    
                </div>
                
                
            </div>




        </div>
        
    </section>
 -->

    












<!-- 


    <section class="levels">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-lg-3 col-md-6">
                    <a href="{% url 'level1' %}">
                        <div class="card1" id="level1">

                            <img src="{{user.assignment1.assignment_banner.url}}" alt="" class=" img-fluid">

                        </div>
                        <div class="text-center mt-2">
                            <h5>Level 1</h5>
                        </div>
                    </a>

                </div>




                {% if user.level_student > 1 %}
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <a href="{% url 'level2' %}">

                        <img src="{{user.assignment2.assignment_banner.url}}" alt="" class=" img-fluid">

                    </div>
                    <div class="text-center mt-2">
                        <h5>Level 2</h5>
                    </div>
                    </a>
                </div>
                {% else %}


                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card1" id="level2" >
                        <div class="bac"></div>
                        <img src="{{user.assignment2.assignment_banner.url}}" alt="" class=" img-fluid">
                        <img  src="{% static 'lock.png' %}" alt="" class="lock">
                    </div>
                    <div class="text-center mt-2">
                        <h5>Level 2</h5>
                    </div>
                </div>

                {% endif %}






                {% if user.level_student > 2 %}
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <a href ="{% url 'level3' %}">
                    <div class="card1" id="level3" >

                        <img src="{{user.assignment3.assignment_banner.url}}" alt="" class=" img-fluid">

                    </div>
                    <div class="text-center mt-2">
                        <h5>Level 3</h5>
                    </div>
                    </a>
                </div>
                {% else %}

                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card1" id="level3" >
                        <div class="bac"></div>
                        <img src="{{user.assignment3.assignment_banner.url}}" alt="" class=" img-fluid">
                        <img  src="{% static 'lock.png' %}" alt="" class="lock">
                    </div>
                    <div class="text-center mt-2">
                        <h5>Level 3</h5>
                    </div>
                </div>

                {% endif %}





                {% if user.level_student == 5 %}
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <a href="{% url 'certification' %}">

                             <div class="card1" id="level4" >

                            <img src="{% static 'lbg.avif' %}" alt="" class=" img-fluid">

                            </div>
                            <div class="text-center mt-2">
                                <h5>Final Level</h5>
                            </div>



                        </a>

                    </div>

                {% else %}

                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="card1" id="level4" >
                            <div class="bac"></div>
                            <img src="{% static 'lbg.avif' %}" alt="" class=" img-fluid">
                            <img  src="{% static 'lock.png' %}" alt="" class="lock">
                        </div>
                        <div class="text-center mt-2">
                            <h5>Final Level</h5>
                        </div>
                    </div>

                {% endif %}








                <div class="col-sm-12 col-lg-12 col-md-12">

                    {% if user.level_student == 4 %}
                        <div class="card danger p-3" style="background-color:rgba(255,0,0,0.3); color:white">

                            You are successfully complete the level 3,
                            Now it will take 24 hour to Verify your Solution after that only you can get the Certificate.

                        </div>
                    {% endif %}



                    {% if user.level_student == 5 %}
                        <div class="card danger p-3" style="background-color:rgba(0,255,0,0.3); color:white">

                            Now You are Successfully Verified !! Now you can get your certificate !!

                        </div>
                    {% endif %}

                </div>





                </div>

            </div>
    

        </div>
        
        


    </section> -->

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script>

        $("#level1").click(function(){

        });



    </script>
{% endblock %}