
{% extends 'login.html' %}

{% load static %}
{% block content %}





    <style>


        .headbanner{
        
            
        }

        .head{
           
            color :white;
            text-align: center;
            width: 100%;
            top : 10px;
        }

        .levelone {
            width: 100%;
            height: 10px;
            background-color: rgb(0, 247, 0);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            animation: revealAnimation 3s ease-out infinite;
          }

          .point{
            width : 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgb(24, 110, 224);
            position: relative;
            left : 99%;
            bottom:15px;
            top : -20px;
          }
          
          @keyframes revealAnimation {
            0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }
            100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }


         

        .leveltwo{
            width: 100%;
            height: 10px;
            background-color: rgb(206, 206, 206);
        }

        .levelthree{
            width: 100%;
            height: 10px;
            background-color: rgb(206, 206, 206);
        }

        .levelfour{
            width: 100%;
            height: 10px;
            background-color: rgb(206, 206, 206);
        }


        .levelhead{
            position: fixed;
            width :100%;
            height: 140px;  
            background: url("{{user.assignment1.assignment_banner1.url}}");
            z-index: 999999999;
            /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */


        }


        .levelhead::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height:calc(100%);
            background-color: rgba(255, 0, 0, 0.772);

            {% if user.assignment1status == 'under_review'  %}
            background-color: rgba(255, 196, 0, 0.472);
            {% elif user.assignment1status == 'completed'  %}
            background-color: rgba(52,121,178,0.472);
            {% else %}
            background-color: rgba(255, 0, 0, 0.472);
            {% endif %}




            




            animation: fillBlack 2s linear forwards; /* Animation */

        }

       



        .biglevel{
            font-size: 200px;
            color:rgb(255, 255, 255);
            right: 300px;
            text-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 40px rgb(0, 0, 0);
        }


        .maintext{
            color: rgba(255, 255, 255, 0.546);
            z-index: 99999999999999;
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            
        }


        .topp{

            padding-top: 190px;

        }

        .pdec{
            
           
        }

        .levelhead .text h1{
            font-family: "Rowdies", sans-serif;
            color: rgb(188, 188, 188);
            text-shadow: 2px 2px #000000;
        }


        .req{
            font-family: "Rowdies", sans-serif;
            color: rgb(53, 53, 53);
            margin-top : 25px;
        }


        .form-submit input{
            width: 100%;
            height: 50px;
            /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
            border: 2 px solid gray;
            padding-left: 10px;
            border-radius: 10px;
            border-radius: 0px;

            
        }

        .form-submit input:focus{
            border:none;
        }

        .form-submit input:active{
            border:none;
        }


        .support{
            width: 50px;
            position:fixed;
            background-color: #3479B2;
            z-index: 9;
            left: 0px;
        }

        .support .iconn{

            text-align: center;
            margin-bottom: 100px;


        }

        .support .iconn i{

            font-size: 30px;
            color: white;
            padding-top: 20px;
        }


        .support .iconn p{

            font-size: 8px;
            color: white;
            font-weight:300;

        }

      

    .fixed {
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    #card {
        transition: top 0.3s ease;
    }


    #cardimage{
        width: 100%;
        height: 100%;
    }


    #cardimage::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background-color: rgb(0, 0, 0);
        z-index: 999;
    

    }



    @keyframes fillBlack {
            0% {
                width: 0%;
                clip-path: circle(0% at -20% 40%);


            }
            100% {

              
                {% if user.assignment1status == 'under_review'  %}
                    width: 80%;

                {% elif user.assignment1status == 'completed'  %}
                    width: 100%;

                {% else %}
                    width: 25%;

                {% endif %}


                clip-path: circle(70.7% at 50% 50%);


            }
        }



        .maintexttt{
            padding-left: 50px;
        }


        .spaceicon{
            height: 150px;
        }


        @media only screen and (max-width: 600px) {
        
        .spaceicon{
            height: 0px;
        }
        .maintexttt{
            padding-left: 10px;
        }

        .support{
            width: 100%;
            position:fixed;
            background-color: #1F4A6E;
            z-index: 9;
            bottom: 0px;

        }

        .support .iconn{

            display: flex;
            flex-wrap: nowrap;
            justify-content:space-between;
            margin-right: 45px;
            margin-bottom: 0px;
           

        }

        .support .iconn i{

            font-size: 30px;
            color: white;
            padding : 20px 0;
            
        }


        .support .iconn p{

            font-size: 8px;
            color: white;
            font-weight:300;
            text-align: center;
            display: none;
            

        }





        }








</style>



</head>




<section class="support">


    <div class="iconn">
        <div class="spaceicon"></div>
        <i class="fa-brands fa-whatsapp"></i>
        <p>WhatApp</p>
     

        <i class="fa-brands fa-telegram"></i>
        <p>Teligram</p>
    

        <i class="fa-brands fa-instagram"></i>
        <p>Instagram</p>
     

        <i class="fa-brands fa-linkedin-in"></i>
        <p>Linkedin</p>
        

        <i class="fa-brands fa-facebook-f"></i>
        <p>Facebook</p>
      

    </div>





</section>












<section class="levelhead" id="navbar">


    <div class="levelpercent">

        <div class="container">
            <div class="text">
                <h1 class="maintext">{{user.assignment1.assignment_question}}</h1>
            </div>

            <!-- <div id="bigtxt" class="biglevel wow animate__animated animate__zoomIn">
                1
            </div> -->

        </div>

    </div>

    

</section>



<div class="container topp">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-8 maintexttt" >

            <p class="pdec" ><b>
                {{user.assignment1.assignment_description}}
            </b></p>

            <h4 class="req">Requirenments</h4>

            <p>
                {{user.assignment1.assignment_requirements | safe}}

            </p>

            
            <div class="form-submit mt-5">
            <form method="post">
                {% csrf_token %}
                <h4 class="mb-3 req">Submit Your Project</h4>
    
                <p style="font-weight: 300; font-size: 13px;" >
                  <b  style="font-size: 18px;"  class="mb-2">Project Github Link </b> 
               <br>
                    push this project on your github account and submithe the link in the given input field.<br>
                    <b>Note : </b> Project title should be with name "{{user.assignment1.assignment_question}}" this.
                </p>
                <input value="{{sdata.Assignment1_github_Link}}" type="text" name="git" class="mb-4" placeholder="Project Git Link" required>
                
    
                <p style="font-weight: 300; font-size: 13px;">
                    <b style="font-size: 18px;" class="mb-2">Project Linkedin video Link </b> 
                 <br>
                      Capture the working of project video using moble phone or any camera or by screen recording and post it to your Linkedin Profile and also mention our compant name "codeAj" and submit that project link in the field.<br>
                      <b>Note : </b> add these hash tag before posting on linkeden '#codeaj #pythoncoding4u #codeajay' .
                  </p>
    
    
                <input value="{{sdata.Assignment1_linkedin_link}}" type="text" name="linkedin" class="mb-5"  placeholder="Project video Linkedin Link" required>


                <div class="mt-3" style="height: 100px;">
                    <button type="submit" class="mb-3 submit-button " >
                        Move to Next Level
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                
    
            </form>

        </div>



        </div>


        <div class="col-md-12 col-sm-12 col-lg-4" >

            <div class="card" id="sticky-form">
                <img id="cardimage" src="{{user.assignment1.assignment_banner.url}}" alt="" class="img-flui">

                <a href="/discussions/{{user.assignment1.slug}}" class="btn btn-info">Discussions</a>
                <h5 class="p-3">
                    Suggested Video
                </h5>
            </div>
        </div>



       




    </div>


    









</div>











<br><br><br>


<div class="course-review"></div>


<script>
   /* var lastScrollTop = 0;

    window.addEventListener("scroll", function() {
        var card = document.getElementById("card");
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var scrollDirection = scrollPosition > lastScrollTop ? 'down' : 'up';

        if (scrollDirection === 'down') {
            card.style.top = "-20px";
        } else {
            card.style.top = "0";
        }

        lastScrollTop = scrollPosition;
    });*/
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
    window.addEventListener('scroll', function() {
        // Define a minimum width for the laptop screen
        var minWidthForLaptop = 1024;

        // Check if the screen width is above the defined minimum width
        if (window.innerWidth >= minWidthForLaptop) {
            var formContainer = document.getElementById('sticky-form');
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
            var gapBottomEqualElement = document.querySelector('.course-review');

            if (scrollPosition >= formContainer.offsetTop && scrollPosition + formContainer.clientHeight <= gapBottomEqualElement.offsetTop) {
                formContainer.style.position = 'fixed';
                formContainer.style.top = '100px';
                formContainer.style.width = '28%';
            } else {
                formContainer.style.position = 'relative';
                formContainer.style.top = '0';
                formContainer.style.width = 'auto';
            }
        } else {
            // Reset styles for smaller screen sizes, if needed
            var formContainer = document.getElementById('sticky-form');
            formContainer.style.position = 'relative';
            formContainer.style.top = '0';
            formContainer.style.width = 'auto';
        }
    });
</script>








<script>
      

      $(document).ready(function () {
        var lastScrollTop = 0;
        var navbar = $('#navbar');
        var profileimage = $('#profileimg');
        var logoimage = $('#logoimage');

        logoimage.attr("src", "{% static 'logo1.png' %}");
        logoimage.css('width','80px');
        logoimage.css('height','80px');


        
        var navbarHeight = navbar.outerHeight();

        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            console.log(scrollTop)

            if (scrollTop > lastScrollTop) {
                // Scrolling down
                navbar.css('height', '80px');
                logoimage.css('width','50px');
                logoimage.css('height','50px');
                profileimage.css('width','40px');
                profileimage.css('height','40px');
                profileimage.css('margin-top','23px');
                

              
            }

           
            
            else if(scrollTop == 0){
                navbar.css('height', '140px');
                logoimage.css('width','80px');
                logoimage.css('height','80px');
                profileimage.css('width','50px');
                profileimage.css('height','50px');
                $("#card").css('position','relative');
            }
            
            
            else {
                // Scrolling up
                navbar.css('height', '80px');
                logoimage.css('width','50px');
                logoimage.css('height','50px');
                profileimage.css('width','40px');
                profileimage.css('height','40px');
                profileimage.css('margin-top','23px');

            }

            lastScrollTop = scrollTop; // Update last scroll top position
        });
    });



</script>











{% endblock %}