{% load static %}

{% include 'header.html' %}








<style>
    input:not(:last-child), textarea:not(:last-child){
        margin-bottom: 15px;
    }
    input{
        height: 20px;
        
    }
    label{
        font-size: 10px;
        margin-bottom: 0px;
    }

    button:not([class*='pswp']){
        padding: 8px 20px;
    }

    .nnnform{
        margin-left: 200px;
        width: 65%;
        
    }

    .stg-cta-with-image{
        padding:0px 0;
    }

    @media only screen and (max-width: 600px) {
        .nnnform{
        margin-left: 0px;
        width: 100%;
        
    }

    .stg-cta-with-image{
        padding:0px 0;
    }


    .textttttop{
        padding-top: 100px;
    }

    }

</style>


<div class="stg-container">

    <section class="backlight-top is-fullwidth">
        <div class="stg-row stg-valign-middle stg-cta-with-image stg-tp-column">
            <div class="stg-col-6" data-unload="fade-left">
                <div  class="bringer-offset-image is-init in-view" data-bg-src="{% static 'login.jpg' %}" data-threshold="0.25" style="background-image: url({% static 'login.jpg' %});"></div>
                <form  method="post" class=" bringer-block  nnnform" id="loginForm" style="--mouse-x: 166.6666660308838px; --mouse-y: -302.375px; ">
                    {% csrf_token %}
                    <div class="bringer-form-content" >
                        <h5>Login</h5>
                    
                        <!-- Field: Email -->
                        <label for="email">Your Email</label>
                        <input type="email" id="email" name="email" placeholder="email@example.com" required="" class="is-init"> 

                         <!-- Field: Name -->
                         <label for="name">Password</label>
                         <input type="password"  id="regPassword"  name="password1" placeholder="Your Name" required="" class="is-init">


                         {% if messages %}
                            {% for message in messages %}
                                <p class="error-message">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                           
                        <p class="error-message" id="err"></p>

                        <!-- Form Button -->
                        <button type="submit" value="Send Message">Login</button>

                        <p style="font-size: 13px; margin-top: 10px;">
                            For New User <a style="text-decoration: none; color:rgb(0, 159, 50);" href="{% url 'register' %}">Regisster Now</a>
                            <br>
                        <span style="font-size: 13px;">Forget Password <a style="text-decoration: none; color:rgb(219, 86, 63);" href="#">Here</a></span>

                        </p>

                        <div class="bringer-contact-form__response"></div>
                    </div>
                    <span class="bringer-form-spinner"></span>
                </form>
            </div>

            
            <div class="stg-col-6 stg-offset-1 textttttop" data-unload="fade-right">
                <div class="bringer-cta-form-content">
                    
                    <div class="bringer-cta-form-title is-done" data-split-appear="fade-up" data-split-delay="100" data-split-by="line">
                        <div class="line in-view" style="display: block; text-align: start; width: 100%;" data-unload="none" data-delay="0">
                            
                            <div class="word" style="display: inline-block;">
                               <h3>Login to Your Internship Portal</h3>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bringer-cta-text">
                        <div class="stg-row stg-valign-middle">
                            <div class="stg-col-2 stg-offset-2 stg-tp-col-1 stg-tp-offset-3 stg-m-col-1 stg-m-offset-2 in-view">
                                <i class="bringer-cta-icon"></i>
                            </div>
                            <div class="stg-col-12 stg-tp-col-7 stg-m-col-8 stg-m-offset-1 in-view">
                                <p >
                                    "Enter your credentials to access your internship dashboard. Continue your project work, track your progress, and stay updated on your certification status. Welcome back!
                                
                                </p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </section>




</div>










    




    {% include 'footer.html' %}

    <script>

        wow = new WOW(
        {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0,          // default
            mobile:       true,       // default
            live:         true        // default
        }
        )
        wow.init();




        $(document).ready(function() {

            var popup = $("#popupvideo");
            var close = $("#close");
            var playbtn = $("#playbtn1");


            close.click(function(){
                popup.css("display", "none");
            });

            playbtn.click(function(){
                popup.css("display", "block");
            });


        })


    </script>


