

{% load static %}

{% include 'header.html' %}



<style>
    input:not(:last-child), textarea:not(:last-child){
        margin-bottom: 15px;
    }
    input{
        height: 20px;
        
    }
    label{
        font-size: 10px;
        margin-bottom: 0px;
    }

    .nnnform{
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stg-cta-with-image{
        padding: 180px 0px;
        padding-bottom: 10px;

    }

    @media only screen and (max-width: 600px) {
        .nnnform{
        margin-left: 0px;
        width: 100%;
        
    }

    .stg-cta-with-image{
        padding:300px 0;
        padding-bottom: 10px;
    }


    }


   

</style>




<div class="stg-container">

    <section class="backlight-top is-fullwidth">
        <div class="stg-row stg-valign-middle stg-cta-with-image stg-tp-column-reverse" >
            <div class="stg-col-12" data-unload="fade-left" >
                <!-- <div  class="bringer-offset-image is-init in-view" data-bg-src="img/cta/contact-section-bg.jpg" data-threshold="0.25" style="background-image: url(&quot;img/cta/contact-section-bg.jpg&quot;);"></div> -->
                <form  method="post" class=" bringer-block  nnnform" id="loginForm" style="--mouse-x: 166.6666660308838px; --mouse-y: -302.375px; ">
                    {% csrf_token %}
                    <div class="bringer-form-content" style="text-align: center;">

                        <h4 class = "head-text">OTP <span>Verification</span></h4>


                        <p style="font-size: 13px;">OTP is send to your this <b>{{user.email}}</b> Email.</p>


                        <input class="is-init" placeholder="Enter Your 6 digit OTP" type='text' name="otp" required>
    
                        {% if message %}
                        <p class="error-message">{{message}}</p>
                        {% endif %}
    
                        <div class="text-center mt-3">
                            <button type="submit" class="mb-3 submit-button" >
                                Verify
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        
                            <p style="margin-top: 10px;"><a href="{% url 'otp' %}">Resend </a> OTP</p>
    
                            {% if message %}
                            <p>Return to <a style="text-decoration: none; color:rgb(201, 18, 18); font-size : 13px;" href="{% url 'logout' %}">Login</a> </p>
                            {% endif %}
                        </div>


                        <div class="bringer-contact-form__response"></div>
                    </div>
                    <span class="bringer-form-spinner"></span>
                </form>
            </div>
        </div>
    </section>











{% include 'footer.html' %}




