{% extends 'login.html' %}

{% load static %}
{% block content %}



<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


            <div class="col-sm-12 col-md-12 col-lg-4 p-4 text-center box">

                <h1 class = "head-text mt-4">OTP Verification</h1>

                <div class="text-center">
                    <img class="logo" src="{% static 'hacker.gif' %}" alt="Login Icon">
                </div>


                <p style="font-size: 13px;">OTP is send to your this <b>{{user.email}}</b> Email.</p>
                


                <form id="loginForm" method="post">
                    {% csrf_token %}

                    <input class="input-box" placeholder="Enter Your 6 digit OTP" type='text' name="otp" required>
                    <p class="error-message">{{message}}</p>
                    
                    

                    <div class="text-center mt-3">
                        <button type="submit" class="mb-3 submit-button" >
                            Verify
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    
                   
                </form>


                

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


        </div>
    </div>



</div>









{% endblock %}



