

{% load static %}
{% include 'header.html' %}



  <div class="stg-container">
      <section>


        <!-- Block: Our Approach -->
        <div class="stg-row stg-bottom-gap-l">
          <div class="stg-col-3 stg-tp-bottom-gap" data-appear="fade-right" data-unload="fade-left">
              <img class="bringer-lazy" src="{{user.profile_pic.url}}" data-src="{{user.profile_pic.url}}" alt="Cookie Dough" width="960" height="960">
          </div>
          <div class="stg-col-9 bringer-block stg-vertical-space-between" data-appear="fade-left" data-unload="fade-right">
              <h3>{{user.name}} ( {{user.domain}} )</h3>
              <p>Email : {{user.email}}<br>
                Phone No. : {{user.phone_no}}<br>
                Collage : {{user.college}}<br><br>
                Assignment 1 : <b><i>{{user.assignment1.assignment_question}} ( {{user.assignment1status}} )</i></b><br>
                Assignment 2 : <b><i>{{user.assignment2.assignment_question}} ( {{user.assignment2status}} )</i></b><br>
                Assignment 3 : <b><i>{{user.assignment3.assignment_question}} ( {{user.assignment3status}} )</i></b><br>


              </p>


          </div>
      </div>




        <!-- Block: The Challenge -->
        <div class="stg-row stg-bottom-gap-l stg-tp-column-reverse">
          <div class="stg-col-8 bringer-block stg-vertical-space-between" data-appear="fade-right" data-unload="fade-left">
              <h2>The Challenge</h2>
              <div>
                  <p>Doughp wasn't your average cookie dough company. They crafted edible cookie dough – a tantalizing treat that promised the deliciousness of raw dough minus the food poisoning fear. Yet, the "edible" aspect was a double-edged sword. Parents hesitated, wary of the safety claims, while adults questioned the indulgence without the baking payoff. </p>
                  <p>Doughp needed a campaign that not only dispelled myths and promoted safety, but also redefined the very concept of cookie dough – transforming it from a forbidden fruit into a guilt-free, delectable treat for everyone.</p>
              </div>
          </div>
          <div class="stg-col-4 stg-tp-bottom-gap" data-appear="fade-left" data-unload="fade-right">
              <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/image01.jpg" alt="Cookie Dough" width="960" height="960">
          </div>
      </div>



          <!-- Block: Page Title -->
          <div class="bringer-bento-grid stg-bottom-gap-l">
              <div class="is-large" data-appear="fade-right" data-unload="fade-left">
                  <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/hero01.jpg" alt="Cookie Dough" width="1200" height="1200">
              </div>
              <div class="is-medium bringer-block stg-vertical-space-between" data-appear="fade-down" data-delat="100" data-unload="fade-right">
                  <h1>Cookie Dough</h1>
                  <p class="bringer-large-text">Dive into the story of how Bringer helped Doughp transform a forbidden fruit into a guilt-free sensation, one spoonful at a time.</p>
              </div>
              <div class="is-small bringer-block" data-appear="fade-up" data-delat="100" data-unload="fade-left">
                  <ul class="bringer-meta-list">
                      <li>
                          <span class="bringer-meta">Client:</span>
                          <span class="bringer-highlight">Doughp</span>
                      </li>
                      <li>
                          <span class="bringer-meta">Service:</span>
                          <span class="bringer-highlight">Advertising</span>
                      </li>
                      <li>
                          <span class="bringer-meta">Date:</span>
                          <span class="bringer-highlight">October '2023</span>
                      </li>
                  </ul>
              </div>
              <div class="is-small" data-appear="fade-left" data-delat="200" data-unload="fade-right">
                  <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/hero02.jpg" alt="Cookie Dough" width="960" height="960">
              </div>
          </div>

          

          

          <!-- Block: The Solution -->
          <div class="bringer-bento-grid stg-bottom-gap-l">
              <div class="is-large stg-vertical-space-between bringer-block stg-large-gap" data-bg-src="img/cta/grid-cta-background.jpg" data-appear="fade-right" data-unload="fade-left">
                  <h2>The Solution</h2>
                  <p class="bringer-large-text">We crafted a campaign that celebrated the joy of cookie dough, but with a modern twist: #DoughpWithoutDoubt, a playful nod to the safety concerns and a powerful message of guilt-free indulgence.</p>
              </div>
              <div class="is-medium bringer-block stg-valign-middle" data-appear="fade-left" data-delay="100" data-unload="fade-right">
                  <ul class="bringer-marked-list">
                      <li>Whimsical video ads: We created stop-motion animation shorts featuring vibrant cookie dough characters.</li>
                      <li>Influencer partnerships: We teamed up with parenting bloggers and health-conscious chefs, showcasing how Doughp fit into their families and healthy lifestyles.</li>
                      <li>Instagrammable pop-up shops: We created interactive pop-up shops brimming with colorful Doughp jars and activities. </li>
                  </ul>
              </div>
              <div class="is-small" data-appear="fade-up" data-delay="100" data-unload="fade-left">
                  <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/image03.jpg" alt="Cookie Dough" width="960" height="960">
              </div>
              <div class="is-small" data-appear="fade-up" data-delay="200" data-unload="fade-right">
                  <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/image04.jpg" alt="Cookie Dough" width="960" height="960">
              </div>
          </div>

          <!-- Block: Results & Impact -->
          <div class="stg-row">
              <div class="stg-col-8 bringer-block stg-vertical-space-between stg-tp-bottom-gap" data-appear="fade-right" data-unload="fade-left">
                  <h2>Results & Impact</h2>
                  <div>
                      <ul class="bringer-marked-list">
                          <li><span class="bringer-highlight">Doubling of brand awareness:</span> Doughp became synonymous with safe, delicious edible cookie dough, capturing the attention of both skeptical parents and curious adults.</li>
                          <li><span class="bringer-highlight">Significant sales growth:</span> Sales skyrocketed, propelled by new customers and repeat buys from families and individuals discovering the joy of guilt-free indulgence.</li>
                          <li><span class="bringer-highlight">Shift in market perception:</span> Doughp successfully redefined the edible cookie dough category, moving from a niche product to a mainstream treat embraced by consumers.</li>
                      </ul>
                  </div>
              </div>
              <div class="stg-col-4" data-appear="fade-left" data-unload="fade-right">
                  <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02/image05.jpg" alt="Cookie Dough" width="960" height="960">
              </div>
          </div>
      </section>

      <!-- Section: Next Post -->
      <section class="divider-top" data-appear="fade-up">
          <div class="align-center" data-unload="zoom-in">
              <a href="{% url 'logout' %}" class="bringer-icon-link bringer-next-post">
                  <div class="bringer-icon-link-content">
                      <h6></h6>
                      <h2>Logout</h2>
                  </div>
                  <div class="bringer-icon-wrap">
                      <i class="bringer-icon bringer-icon-explore"></i>
                  </div>
              </a><!-- .bringer-icon-link -->
          </div>
      </section>
  </div><!-- .stg-container -->


  {% include 'footer.html' %}
