{% extends 'login.html' %}

{% load static %}






{% block content %}

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


            <div class="col-sm-12 col-md-12 col-lg-4 p-4 text-center box">

                <h1 class = "head-text mt-2">Update Profile</h1>

                <div class="text-center">
                    <img class="logo" src="{% static 'hacker.gif' %}" alt="Login Icon">
                </div>
                


                <form id="loginForm" method="post">
                    {% csrf_token %}


                    <input type="text" name="contactno" class="mb-3 input-box" id="contact" placeholder="Enter contact*" required><br>

   
                    <input type="text" name="whatsappno" class="mb-3 input-box" id="whatsapp" placeholder="Enter WhatsApp*" required><br>
                
                
                    <input type="text" name="collage" class="mb-3 input-box" id="collage" placeholder="Enter collage*" required><br>
                   
                    <select class="input-box" id="domain" name="domain" required>
                
                        <option value="" selected disabled>Select a domain*</option>
                
                        {% for i in domain %}
                        <option value="{{i.domain_name}}">{{i.domain_name}}</option>
                       {% endfor %}
                
                    </select> <br>
                


                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                    

                    <div class="text-center mt-3">
                        <button type="submit" class="mb-3 submit-button" >
                            Update Profile
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>

                    
                    <!-- <p><a style="text-decoration: none; color:rgb(219, 86, 63);" href="{% url 'profileimage' %}">Skip</a> The Process</p> -->
                    
                   

                  
                </form>


                

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


        </div>
    </div>



</div>





{% endblock %}
