{% extends 'login.html' %}

{% load static %}
{% block content %}

<style>
    #preview {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        margin-top: 10px;
        display: none;
    }
    #profileImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        cursor: pointer;
        border : 2px solid black;
    }

    .logo{
        width: 150px;
    }


    #edit{
        font-size : 20px;
        position: absolute;
        top : 170px;
        left : 54%;
        border-radius: 50%;
        padding:10px;
        background-color: cadetblue;
        color:white;
        transition: ease-in-out;
        transition-duration: 0.3s;
    }


    #edit:hover{
        transform: rotate(10deg);
    }
</style>



<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


            <div class="col-sm-12 col-md-12 col-lg-4 p-4 text-center box">

                <h1 class = "head-text mt-5">Profile Image</h1>

                <form id="loginForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                <div class="text-center">
                    <!-- <img class="logo" src="{% static 'hacker.gif' %}" alt="Login Icon"> -->
                

                    {% if user.profile_pic %}
                    <input  type="file" name="profileimage" value="{{user.profile_pic.url}}" id="fileInput" style="display: none;" required>
                    {% else %}
                    <input  type="file" name="profileimage"  id="fileInput" style="display: none;" required>
                    {% endif %}



                    {% if user.profile_pic %}
                    <img class="logo" src="{{user.profile_pic.url}}" alt="Profile Image" id="profileImage">

                    {% else %}
                    <img class="logo" src="https://t4.ftcdn.net/jpg/01/07/43/45/360_F_107434511_iarF2z88c6Ds6AlgtwotHSAktWCdYOn7.jpg" alt="Profile Image" id="profileImage">
                    {% endif %}

                    <i id="edit" class="fa-solid fa-pen penn"></i>



                </div>


                

                    <!-- <input type="file" name="profileimage" class="input-box" id="profileImageInput" accept="image/*" required> -->

                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                    
                    
                  

                        <div class="text-center mt-3">
                            <button type="submit" class="mb-3 submit-button" >
                                Update
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>




                    <p><a style="text-decoration: none; color:rgb(219, 86, 63);" href="{% url 'profileimage' %}">Skip</a> The Process</p>
                    
                   
                </form>


                

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


        </div>
    </div>



</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
            $('#edit').click(function () {
                $('#fileInput').trigger('click');
            });

            $('#fileInput').change(function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileImage').attr('src', e.target.result);
                    $('#preview').html('<img src="' + e.target.result + '" alt="Uploaded Image">').show();
                };
                reader.readAsDataURL(file);
            });

           
        });
</script>


{% endblock %}










