
{% extends 'login.html' %}

{% load static %}
{% block content %}








<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


            <div class="col-sm-12 col-md-12 col-lg-4 p-4 text-center box">

                <h1 class = "head-text">REGISTER</h1>

                <div class="text-center">
                    <img class="logo" src="{% static 'hacker.gif' %}" alt="Login Icon">
                </div>
                


                <form id="loginForm" method="post">
                    {% csrf_token %}


                        <input type="email" name="email" class="mb-3 input-box" id="regEmail" placeholder="Email" required>
                        <input type="text" name="name" class="mb-3 input-box" id="regName" placeholder="Name" required>
                        <input type="password" name="password1" class="mb-3 input-box" id="regPassword" placeholder="Password" required>
                        <input type="password" name="password2" class="input-box" id="regPassword2" placeholder="Re-password" required>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error-message">{{message}}</p>
                            {% endfor %}
                        {% endif %}

                        <p class="error-message" id="err"></p>

                        <div class="text-center mt-3">
                            <button type="submit" class="mb-3 submit-button" >
                                Register
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>


                        <p>
                            If You are Already Registered <a style="text-decoration: none; color:rgb(0, 159, 50);" href="{% url 'main' %}">Login</a>
                        </p>

                   

                </form>


                

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                
            </div>


        </div>
    </div>



</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#regPassword, #regPassword2').keyup(function () {
            var password1 = $('#regPassword').val();
            var password2 = $('#regPassword2').val();

            if (password1 != '' && password2 != '' && password1 != password2) {
                $('#err').text('Passwords do not match');
            } else {
                $('#err').text('');
            }
        });
    });
</script>







{% endblock %}


